{% load static %}
{% load robots_tags %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'robots/css/styles.css' %}">
</head>
<body>
    {% show_categories cat_selected %}
    <ul>
        <li>
            <a href="{% url 'home' %}">Главная страница о роботах</a>
        </li>
        {% for m in menu %}
            {% if not forloop.last %}<li>{% else %}<li class="last">{% endif %}
                <a href="{% url m.url_name %}">{{ m.title }}</a>
            </li>
        {% endfor %}
    </ul>
    {% block content %} {% endblock %}
    {% show_all_tags %}
</body>
</html>
