{% load static %}
{% load robots_tags %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'robots/css/styles.css' %}">
</head>
<body>
    {% show_categories cat_selected %}
    <hr>
    <hr>
    <ul>
        <li>
            <a href="{% url 'home' %}">Главная страница о роботах</a>
        </li>
        {% for m in mainmenu %}
            <li>
                <a href="{% url m.url_name %}">{{ m.title }}</a>
            </li>
        {% endfor %}
        {% if user.is_authenticated %}
            <li>
                {{ user.username }} | <a href="{% url 'users:logout' %}">Выйти</a>
            </li>
        {% else %}
            <li>
                <a href="{% url 'users:login' %}">Войти</a> | <a href="#">Регистрация</a>
            </li>
        {% endif %}
    </ul>
    <hr>
    <hr>
    {% block content %} {% endblock %}
    <hr>
    <hr>
    {% block breadcrumbs %}
    {% endblock %}
    <hr>
    <hr>
    {% show_all_tags %}
</body>
</html>
